@model IEnumerable<SuperheroCreator.Models.Superhero>

@{
    ViewBag.Title = "Heroes";
}

<img src="https://78.media.tumblr.com/tumblr_l9kh52E7MO1qzb9rso1_500.png" />

<div align="center">

    <table class="hero-table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.HeroName, "Details", new { id = item.Id })
                </td>
            </tr>
        }
    </table>

    <p>
        @Html.ActionLink("Add New Hero", "Create")
    </p>
</div>
